/* Add screen styles below */

body {
  background-color: #242424;
  margin: 0 auto;
  width: 75%;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: #fff;
}

p {
  color: #fff;
}

div {
  display: flex;
  margin-top: 6rem;
  justify-content: center;
  gap: 7rem;
}

.earth {
  overflow: hidden;
  border-radius: 50%;
  width: 40%;
  height: 40%;
  cursor: pointer;
}

.moon {
  margin-top: 5rem;
  overflow: hidden;
  border-radius: 50%;
  width: 10%; 
  height: 10%;
  cursor: pointer;
}
